<meta charset="utf-8">
<title>{page_title}</title>

<!-- Website -->
<meta name="description" content="{description}">
<meta name="keywords" content="{keywords}">

<!-- Mobile -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<!-- FB Open Graph -->
<meta property="og:title" content="{page_title}">
<meta property="og:type" content="website">
<meta property="og:url" content="{site_url}">
<meta property="og:site_name" content="{site_name}">
<meta property="og:image" content="{social_image}">
<meta property="og:description" content="{description}">
<!--<meta property="fb:app_id" content="" />-->

<!-- Twitter Cards-->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{current_url}">
<meta name="twitter:title" content="{page_title}">
<meta name="twitter:description" content="{description}">
<meta name="twitter:image" content="{social_image}">
<meta name="twitter:site" content="{twitter_user}">
<meta name="twitter:creator" content="{twitter_user}">


<link rel="canonical" href="{site_url}">
<link rel="alternate" href="{current_url}" hreflang="{country_code}" >
