<header class="main-bg-color">

	<div class="container vertical-align-middle relative">
		<div class="row">
			<div class="col-6">
				<div class="brand-logo">
					<img src="/{folder}/assets/images/logo-mercedes-benz.png" width="65">
				</div>
			</div>
			<div class="col-6 text-right header-links">
				<div class="vertical-align-middle relative">
					<span class="brand-name">{site_name}</span>
					<span class="{no_session_class}">
						<span class="user-name ">{session_username}</span>
						<a href="#" class="logout link">Salir</a>
					</span>
				</div>
			</div>
		</div>
	</div>

</header>
