<tr id="record-{member_id}">
	<td>
		<input type="checkbox" class="checkbox-record" name="array_id[]" value="{member_id}">
	</td>
<!--
	CON LINK PARA EDICION =============================================
	<td>
		<div title="{nombre}">
			<a href="#{member_id}" class="" data-toggle="modal" data-target="#modal-edit" data-element-type="member" data-id="{member_id}">{nombre}</a>
		</div>
	</td>
	<td>
		<div title="{apellido}">
			<a href="#{member_id}" class="" data-toggle="modal" data-target="#modal-edit" data-element-type="member" data-id="{member_id}">{apellido}</a>
		</div>
	</td>
	CON LINK PARA EDICION =============================================
	-->

	<td>
		<div title="{nombre}">{nombre}</div>
	</td>
	<td>
		<div title="{apellido}">{apellido}</div>
	</td>

	<td><div title="{email}">{email}</div></td>
	<td><div title="{telefono}">{telefono}</div></td>
	<td><div title="{ciudad}">{ciudad}</div></td>
	<td><div title="{codigo_postal}">{codigo_postal}</div></td>
	<td><div title="{provincia}">{provincia}</div></td>
	<td><div title="{tipo_vehiculo}">{tipo_vehiculo}</div></td>
	<td><div title="{modelo}">{modelo}</div></td>
	<td><div title="{plan}">{plan}</div></td>
	<td><div title="{cuotas}">{cuotas}</div></td>
	<td><div title="{join_date}">{join_date}</div></td>
	<td class="email-sent-status"><div title="{envio}">{envio}</div></td>
	<td class="email-sent-date"><div title="{envio_fecha}">{envio_fecha}</div></td>
</tr>
