<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
					<form id="form-login" action="/" class="validate" data-action="signin" method="post" data-cb="redirect">

						<div class="form-group">
							<label for="username" class="sr-only">Username</label>
							<input class="form-control" id="username" name="username" data-validate="{'required': true}" type="text" placeholder="Usuario" fieldname="Este campo ">
						</div>

						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input class="form-control" id="password" name="password" data-validate="{'required': true}" type="password" placeholder="Contraseña" fieldname="Este campo ">
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-submit relative">Ingresar <i class="fa fa-spinner fa-spin"></i></button>
						</div>

						<!--<p class="home-login-contrasena"><a href="contrasena.html" data-action="forgot">Olvidé mi contraseña</a></p>-->


					</form>
			</div>
		</div>
	</div>
</section>
